.profile-container {
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;

    i {
        font-size: 60px;
        padding-right: 20px;
        color: black
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .profile-info p {
        margin: 0;
    }

    .profile-company {
        font-size: small;
    }
}

.language-container {
    display: flex;
    flex-direction: row;
    margin-right: 150px;
    align-items: center;
    gap: 16px;

    img {
        height: 40px;
        width: 60px;
        border-radius: 10px;
    }
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    margin-left: 50px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .profile-container {
        display: none;
    }

    .language-container {
        margin-right: 50px;
    }

    .hamburger {
        display: block;
  }
}