.sidebar-logo {
    color: white;
    font-size: 24px;

    img {
        width: 60px;
        height: 35px;
    }
}

h2 {
    text-align: center;
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin-left: 10px;
}

button {
    text-align: left;
    padding-bottom: 10px;
    border-color: transparent;
    background: transparent;
    cursor: pointer;
    color: black;
    font-size: 17px;

    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    i {
        margin-right: 10px;
    }
}

@media (max-width: 1630px) {

}

@media (max-width: 1510px) {

}

@media (max-width: 1400px) {

}

@media (max-width: 1340px) {

}
