#root {
    width: 100%;
    margin: 0 auto;
    color: black;
}

body {
    margin: 0;
}

.app-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100vh;
}

.navbar-container {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    height: 100px;
    overflow-x: visible;
    background-color: rgb(0, 136, 247);
    color: white
}

.main-container {
    padding-top: 100px;
    width: 100%;
}

.content-container {
    position: fixed; 
    top: 100px;       
    left: 280px;     
    right: 0;
    bottom: 0;
    padding: 20px;

    display: flex;
    flex-direction: column;
    background: #fff;
}

.header-container {
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.searchbar-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 0;
    left: 0;
}

.button-container {
    display: flex;
    height: 20px;
    gap: 10px;

    i {
        padding-left: 10px;
    }
}


.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 100px;
    width: 275px;
    min-height: 100%;
    box-shadow: 4px 0 8px -2px rgba(0, 0, 0, 0.15);
    background-color: white;
}

@media (max-width: 1200px) {
    .sidebar-container {
        display: none;
    }

    .content-container {
        left: 0px;
    }

    .button-container {
        width: 500px;
        display: flex;
        justify-content: space-around;
        
        p {
            display: none;
        }

        i {
            font-size: 25px;
        }
    }
}

@media (max-width: 767px) {
    .header-container {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .button-container {
        display: flex;
        width: 100%;
        justify-content: space-around;


        p {
            display: none;
        }

        i {
            font-size: 25px;
        }
    }
}