#root {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    color: black;
}

.app-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
}